.gallery-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
  
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 20px;
    flex: 2;
  
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.02);
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.5s ease;
    }
  
    &:hover img {
      transform: scale(1.05);
    }
  
    .overlay {
        position: absolute;
        inset: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        background: rgba(255, 255, 255, 0.8);
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.4s ease;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition:
        opacity 0.4s ease,
        transform 0.4s ease;
    }
  
    &:hover .overlay {
      opacity: 1;
    }
  
    .overlay-text {
      font-size: 24px;
      font-weight: 500;
      color: #111;
      letter-spacing: 1px;
      text-align: center;
    }
  }
  
  .sidebar {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: sticky;
    top: 40px;
  
    @media (max-width: 900px) {
      position: static;
      align-items: center;
      text-align: center;
    }
  }
  
  .brand {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    span {
      background: black;
      color: white;
      padding: 2px 6px;
      border-radius: 2px;
    }
  }
  
  .title {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .locations {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    color: #555;
    line-height: 1.8;
  
    li {
      cursor: pointer;
      transition: color 0.3s ease;
    }
  
    li:hover {
      color: black;
    }
  }
  